body {
  background: rgb(255,255,255);
  background: radial-gradient(
    circle, 
    rgba(255,255,255,1) 0%, 
    rgba(1,130,150,1) 100%);
  }

#calc {
  display: grid;
  width: 500px;
  height: 400px;
  margin: 20% auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  grid-gap: 3px;
  padding: 35px;

}

#buttons * {
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  outline: none;
}

#display {
  grid-column: span 5;
  text-align: right;
  font-size: 40px;
  width: 95%;
  padding: 1px;
  margin: auto;
  color: white;
  background-color: #222;
  padding: 5px;
  border: 5px solid #555;
}

#signals {
  font-size: 40px;
  padding: 1px;
  margin: auto;
}

.operator {
  background-color: #ffa;
}

.number {
  background-color: #aaf;
}

#plus {
  background-color: #f55;
}

#equal {
  background-color: #222;
  color: #eee
}

#clear {
  background-color: #aff;
}
